.place__title{
    grid-area: title;
    font-size: 72px;
    line-height: 1.05;
    max-width: 460px;
    margin: 0;
    font-weight: 900;
}

@media screen and (max-width: 915px) {
    .place__title {
        max-width: 40vw;
        font-size: 65px;
    }
}

@media screen and (max-width: 828px) {
    .place__title{
        font-size: 42px;
        line-height: 1.09;
        max-width: 330px;
    }
}

@media screen and (max-width: 717px) {
    .place__title{
        font-size: 37px;
    }
}

@media screen and (max-width: 425px) {
    .place__title{
        font-size: 32px;
        margin: 0 16px 0;
        max-width: 340px;
    }
}