.cover__subtitle {
    color: #ffffff;
    margin: 0;
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.2;
    max-width: 330px;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 677px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        margin-top: 16px;
    }
}
