.place__paragraph {
    grid-area: paragraph;
    font-size: 18px;
    line-height: 1.63;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 1.63;
    }
}

@media screen and (max-width: 915px) {
    .place__paragraph {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 677px) {
    .place__paragraph {
        max-width: 450px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        margin: 0 16px 0;
    }
}