.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 0 16px;
    }
}