.cover {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    text-align: center;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1184px) {
    .cover {
        min-height: 62.5vw;
        margin: 0 0 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 750px) {
    .cover {
        margin-bottom: 64px;
    }
}