.place__url-heading {
    color: #aaaaaa;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: .2em;
}

@media screen and (max-width: 1024px) {
    .place__url-heading {
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 1;
    }
}

@media screen and (max-width: 677px) {
    .place__url-heading {
        margin-left: 16px;
    }
}

